# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl

# Node
node_modules/
npm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Docker
*.tar

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
